<header class='bg-white corner-below ' id="home">
  <div id='head' style="z-index: 1; position: fixed;" class="shadow container-fluid corner-below  bg-white">
    <div class="row clearfix ">

      <div class="">
        <nav class="navbar navbar-expand-lg navbar-light bg-white">
          <a style="color: black;" class="   navbar-brand" href="/">Shopping Cart</a>
          {{#if user}}
          <div class="ms-auto  dropdown">
            <button class="btn corner btn-secondary btn-sm dropdown-toggle nav-item" type="button" id="dropdownMenu2"
              data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              Hi, {{user.user_name}}
            </button>
            <div class="dropdown-menu" aria-labelledby="dropdownMenu2">
              <a href='#' class="btn btn-success dropdown-item text-dark" type="button">Your Account</a>
              <a href='/your orders' class="btn btn-success dropdown-item text-secondary" type="button">Your Orders</a>
              <a href='/signout' class="btn btn-success dropdown-item text-secondary " type="button">sign Out</a>
            </div>
          </div>

          {{else}}
          <div class="ms-auto  dropdown">
            <button class="btn btn-sm corner btn-secondary dropdown-toggle" type="button" id="dropdownMenu2" data-toggle="dropdown"
              aria-haspopup="true" aria-expanded="false">
              Hi, Sign in
            </button>
            <div class="dropdown-menu" aria-labelledby="dropdownMenu2">
              <a href='#' class="btn btn-success dropdown-item text-secondary disabled" type="button">Your Account</a>
              <a href='#' class="btn btn-success dropdown-item text-secondary disabled" type="button">Your Orders</a>
              <a href='/login' class="btn btn-success dropdown-item text-dark " type="button">Sign In</a>
            </div>
          </div>
          {{/if}}



          <div class="  " id="cartCount">
            <button onclick="goToCart()" type="button" class="btn corner ms-2  btn-sm btn-secondary position-relative">
              Cart
              <span class="position-absolute top-0 start-100 translate-middle text-wrap fw-bold text-success border badge rounded-pill bg-light">
               {{count}}
              </span>
            </button>
          </div>


        </nav>
      </div>
    </div>
  </div>
</header>