<section style="padding-top: 4em;padding-bottom:5em;">

    <div class="mx-5 d-flex flex-column">
        <div class="card rounded mb-3" style="">
            <div class="row no-gutters">
                <div class="col-md-2">
                    <img src="..." class="card-img" alt="..." />
                </div>
                <div class="col-md-4">
                    <div class="card-body">
                        <p class="card-text">product Name</p>
                        <p class="card-text">
                            <small style='position: absolute; bottom: 0.5em;' class="">Date</small>
                        </p>
                    </div>
                </div>
                <div class="col-md-2">
                    <div class="card-body">
                        <p class="card-text">Price</p>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="card-body">
                        
                        <p class="card-text">status</p>
                        <p class="card-text"><small class="text-muted">reason</small></p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>